<form method="GET">
  <input type="text" name="search" value="Texto a buscar"/>
  <input type="submit" value="Buscar"/>
</form>

<table>
  <% var i; for(i=0; i < quizes.length; i++) { %>
  <tr>
    <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <%if(session.user){%>
    <td><a href="/quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
    <td>
      <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
        <button type="submit"
                onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
          Borrar
        </button>
      </form>
    </td>
    <%}%>
  </tr>
  <% } %>
</table>

<%if(session.user){%>
<p>
  <a href="/quizes/new"><button type="button">Crear Pregunta</button></a>
</p>
<%}%>
